<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2020 Nicolas Maltais

  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU Lesser General Public
  License as published by the Free Software Foundation; either
  version 3 of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License
  along with this program.
  -->

<Configuration name="swf-convert" status="warn" strict="true">

    <Properties>
        <Property name="patternLayout">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p - %m%n</Property>
        <Property name="filename">${sys:user.home}/swfconvert/logs/app.log</Property>
        <Property name="filenamePattern">${sys:user.home}/swfconvert/logs/app-%d{yyyy-MM-dd-HH}-%i.log.gz</Property>
    </Properties>

    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternLayout}"/>
        </Console>

        <RollingFile name="file" fileName="${filename}" filePattern="${filenamePattern}"
                     bufferedIO="true" immediateFlush="true" append="true">
            <PatternLayout pattern="${patternLayout}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${sys:user.home}/swfconvert/logs" maxDepth="2">
                    <IfFileName glob="app*.log.gz">
                        <IfAny>
                            <IfLastModified age="7d"/>
                            <IfAccumulatedFileSize exceeds="64 MB"/>
                        </IfAny>
                    </IfFileName>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>

</Configuration>
